Recuperação de senha

Foi realizada uma solicitação de alteração de senha para o seguinte endereço de e-mail: {{ email }}. Caso você não tenha feito essa solicitação, é aconselhável modificar sua senha por questões de segurança.

Para continuar com o processo de recuperação de senha, utilize o token {{ token }} ou acesse o link {{ link }}.
